.hidee {
    display: none !important;
    visibility: hidden !important;
    z-index: -2000 !important;
}

.iekbcc0 {
    display: none !important;
    visibility: hidden !important;
    z-index: -2000 !important;
}

body {
    min-width: 320px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-gutter: stable;
}

.dark body {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

::selection {
    --tw-bg-opacity: 1;
    background-color: rgb(153 243 111 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.dark ::selection {
    --tw-bg-opacity: 1;
    background-color: rgb(0 102 76 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

::-webkit-scrollbar {
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    overflow: auto;
    background-image: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(169 172 176 / var(--tw-bg-opacity));
}

.dark ::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgb(31 35 40 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}


.css-bh4qg6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.dark .css-bh4qg6 {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.css-bh4qg6 main {
    position: relative;
}

.css-8g4gfm {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
}

@media (min-width:600px) {
    .css-8g4gfm {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width:320px) {
    @media (orientation: landscape) {
        .css-8g4gfm {
            min-height: 48px;
        }
    }
}

@media (min-width:600px) {
    .css-8g4gfm {
        min-height: 64px;
    }
}

@media (min-width: 600px) and (max-width: 605px) {
    .css-dx8glg {
        margin-right: 2px !important;
    }
}

@media (min-width: 605px) and (max-width: 618px) {
    .css-dx8glg {
        margin-right: 7px !important;
    }
}

.css-xmi3tm {
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    min-width: 320px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 0.5rem;
    border-top-width: 1px;
    --tw-border-opacity: 1;
    border-top-color: rgb(229 232 236 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 0.5rem;
}

.dark .css-xmi3tm {
    --tw-border-opacity: 1;
    border-top-color: rgb(31 35 40 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

@media (min-width: 600px) {
    .css-xmi3tm {
        position: static;
        margin-right: -0.5rem;
        width: auto;
        min-width: 0px;
        border-top-width: 0px;
        background-color: transparent;
        padding: 0px;
    }
}

.css-mmxf0c {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0;
    font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
}

@media (max-width: 320px) {
    .css-mmxf0c {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.css-1vs9b4l {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
    font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #008462;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
    font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
}

.css-1vs9b4l::-moz-focus-inner {
    border-style: none;
}

.css-1vs9b4l.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .css-1vs9b4l {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

@media (max-width: 320px) {
    .css-1vs9b4l {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.css-1vs9b4l:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(0, 132, 98, 0.04);
}

@media (hover: none) {
    .css-1vs9b4l:hover {
        background-color: transparent;
    }
}

.css-1vs9b4l.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

@media (max-width: 320px) {
    .css-1vs9b4l {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.css-1vs9b4l.css-1vs9b4l {
    width: 100%;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(0 116 87 / var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    text-transform: none;
    width: 100%;
}

.css-1vs9b4l.css-1vs9b4l:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 102 76 / var(--tw-bg-opacity));
}

.css-11lyy1g {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
    font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #008462;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
    font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    border-radius: 0.125rem !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(239 241 244 / var(--tw-bg-opacity)) !important;
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

.css-11lyy1g::-moz-focus-inner {
    border-style: none;
}

.css-11lyy1g.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .css-11lyy1g {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

@media (max-width: 320px) {
    .css-11lyy1g {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.css-11lyy1g:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(0, 132, 98, 0.04);
}

@media (hover: none) {
    .css-11lyy1g:hover {
        background-color: transparent;
    }
}

.css-11lyy1g.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

@media (max-width: 320px) {
    .css-11lyy1g {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.css-11lyy1g.css-11lyy1g {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.125rem;
    --tw-bg-opacity: 1;
    background-color: rgb(0 116 87 / var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    text-transform: none;
}

.css-11lyy1g.css-11lyy1g:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 102 76 / var(--tw-bg-opacity));
}

.dark .css-11lyy1g {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(31 35 40 / var(--tw-bg-opacity)) !important;
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.css-1fce20f {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 200px;
    z-index: 50;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    white-space: nowrap;
    -webkit-transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    border-right: 1px solid #1F2328;
    overflow-x: hidden;
}

.css-1fce20f .MuiDrawer-paper {
    width: 200px;
    -webkit-transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    border-right: 1px solid #1F2328;
    overflow-x: hidden;
}

.css-geusoi {
    background-color: #000000;
    color: #000000;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    margin: 0px;
    padding: 0px;
    color: #000000;
    background-color: #15191E;
    border-radius: 4px;
    box-shadow: none;
    padding: 0px;
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    z-index: 1200;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    outline: 0;
    left: 0;
    border-right: 1px solid #1F2328;
}

.css-geusoi .MuiList-root {
    padding: 0px;
    min-width: 110px;
}

.css-1ontqvh {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
}

.css-c8r3i3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.css-c8r3i3.Mui-focusVisible {
    background-color: rgba(0, 0, 0, 0.12);
}

.css-c8r3i3.Mui-selected {
    background-color: rgba(0, 132, 98, 0.08);
}

.css-c8r3i3.Mui-selected.Mui-focusVisible {
    background-color: rgba(0, 132, 98, 0.2);
}

.css-c8r3i3.Mui-disabled {
    opacity: 0.38;
}

.css-1es5hxj {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    min-width: 0;
    box-sizing: border-box;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding-left: 16px;
    padding-right: 16px;
}

.css-1es5hxj::-moz-focus-inner {
    border-style: none;
}

.css-1es5hxj.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .css-1es5hxj {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.css-1es5hxj:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
}

@media (hover: none) {
    .css-1es5hxj:hover {
        background-color: transparent;
    }
}

.css-1es5hxj.Mui-selected {
    background-color: rgba(0, 132, 98, 0.08);
}

.css-1es5hxj.Mui-selected.Mui-focusVisible {
    background-color: rgba(0, 132, 98, 0.2);
}

.css-1es5hxj.Mui-selected:hover {
    background-color: rgba(0, 132, 98, 0.12);
}

@media (hover: none) {
    .css-1es5hxj.Mui-selected:hover {
        background-color: rgba(0, 132, 98, 0.08);
    }
}

.css-1es5hxj.Mui-focusVisible {
    background-color: rgba(0, 0, 0, 0.12);
}

.css-1es5hxj.Mui-disabled {
    opacity: 0.38;
}

.css-axq1k9 {
    margin: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-width: 0;
    border-style: solid;
    border-color: #1F2328;
    border-bottom-width: thin;
    border-color: #2D3237;
}

.css-i9gxme {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.css-1iqobdd {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1rem;
    --tw-shadow: 0px 18px 28px rgba(9, 30, 66, 0.1), 0px 0px 1px rgba(9, 30, 66, 0.2);
    --tw-shadow-colored: 0px 18px 28px var(--tw-shadow-color), 0px 0px 1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dark .css-1iqobdd {
    --tw-bg-opacity: 1;
    background-color: rgb(21 25 30 / var(--tw-bg-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 900px) {
    .css-1iqobdd {
        padding: 1.5rem;
    }
}

.css-q9u3ax {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
    font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #008462;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
    font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
}

.css-q9u3ax::-moz-focus-inner {
    border-style: none;
}

.css-q9u3ax.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

@media print {
    .css-q9u3ax {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

@media (max-width: 320px) {
    .css-q9u3ax {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.css-q9u3ax:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(0, 132, 98, 0.04);
}

@media (hover: none) {
    .css-q9u3ax:hover {
        background-color: transparent;
    }
}

.css-q9u3ax.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

@media (max-width: 320px) {
    .css-q9u3ax {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.css-q9u3ax.css-q9u3ax {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.125rem;
    --tw-bg-opacity: 1;
    background-color: rgb(0 116 87 / var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    text-transform: none;
}

.css-q9u3ax.css-q9u3ax:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 102 76 / var(--tw-bg-opacity));
}

.css-172h6no {
    position: relative;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    border-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 232 236 / var(--tw-bg-opacity));
    font-size: 0.875rem;
    line-height: 130%;
    --tw-text-opacity: 1;
    color: rgb(45 50 55 / var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.css-172h6no:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(169 172 176 / var(--tw-bg-opacity));
}

.dark .css-172h6no {
    --tw-bg-opacity: 1;
    background-color: rgb(31 35 40 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark .css-172h6no:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(45 50 55 / var(--tw-bg-opacity));
}

.css-172h6no select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 232 236 / var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(45 50 55 / var(--tw-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.css-172h6no select:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(169 172 176 / var(--tw-bg-opacity));
}

.dark .css-172h6no select {
    --tw-bg-opacity: 1;
    background-color: rgb(31 35 40 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark .css-172h6no select:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(45 50 55 / var(--tw-bg-opacity));
}

.css-172h6no .icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    color: currentColor;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.css-172h6no.css-172h6no,
.css-172h6no select {
    min-width: 142px;
    max-width: 300px;
    --tw-bg-opacity: 1;
    background-color: rgb(239 241 244 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(60 65 70 / var(--tw-text-opacity));
}

.css-172h6no.css-172h6no:hover,
.css-172h6no select:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(229 232 236 / var(--tw-bg-opacity));
}

.dark .css-172h6no.css-172h6no,
.dark .css-172h6no select {
    --tw-bg-opacity: 1;
    background-color: rgb(31 35 40 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark .css-172h6no.css-172h6no:hover,
.dark .css-172h6no select:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(45 50 55 / var(--tw-bg-opacity));
}

@media (min-width: 600px) {

    .css-172h6no.css-172h6no,
    .css-172h6no select {
        max-width: none;
    }
}